<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Message</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <h1>Update Message of id: <%=findedChat._id%></h1>
    <div>
    <h3>This message was sent from <%=findedChat.from%> to <%=findedChat.to%> :)</h3>
    <p>Write updated message:</p>
    <form method="POST" action="http://localhost:8080/chats/<%=findedChat._id%>?_method=PUT">
        <textarea rows="5" cols="40" name="message"><%= findedChat.message %></textarea>
        <br><br>
        <button>Submit</button>
    </form>
    </div>
</body>
</html>